.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(249, 249, 251, 0.4);
}

.main {
    flex: 1;
    padding: 24px;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .main {
        padding: 32px;
    }
}
