/* src/components/Shared/Loader/Loader.css */

.loaderOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f8ff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.loaderOverlay.dark {
  background: #010f1c;
}