:root {
  --ivoiceTableBorderRadius: 30px;
}

.productsTable {
  margin: 30px;
}
.productsTable thead {
  border-radius: 20px;
  background: var(--invoice-main-color);
}

.productsTable thead th {
  font-size: 20px;
  padding: 10px;
  color: #ffffff;
}

.productsTable thead th:first-child {
  border-top-left-radius: var(--ivoiceTableBorderRadius);
  border-bottom-left-radius: var(--ivoiceTableBorderRadius);
  padding-left: 30px !important;
}

.productsTable thead th:last-child {
  border-top-right-radius: var(--ivoiceTableBorderRadius);
  border-bottom-right-radius: var(--ivoiceTableBorderRadius);
  padding-right: 30px !important;
}


.productsTable tbody td{
  padding: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #e2e8f0;
}

.productsTable tbody td:first-child{
    padding-left: 30px !important;
}
.productsTable tbody td:last-child{
    padding-right: 30px !important;
}