.mobileMenu{
    padding: 20px;
    height: 80%;
}

.linksWraper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    gap: 30px;
    height: 50%;
    padding: 10px;
    align-items:flex-start;
    justify-content: space-evenly;
}

.Searchwrapper{
    display: block;
}
.mobileLangDropDown{
    display: block;
    width: 100%;
}
.dropdown{
    margin-bottom: 10px;
}
@media (min-width: 950px)   {
    .mobileMenu{
        display: none;
    }
    .mobileOnly{
        display: none;
    }
}
@media (min-width: 950px) {
    .mobileLangDropDown{
        display: none;
    }
}
@media (min-width: 768px) {
  .Searchwrapper {
    display: none;
  }
}

@media (min-width: 515px){
    .linksWraper{
        display: none;
    }
}
@media(min-width: 295px){
  .dropdown{
    display: none;
  }
}